<template>
    <div>
        <h1>Calendar</h1>
        <div class="content">
            
            <div class="sidebar">
                <el-input placeholder="Event" v-model="event"></el-input>

                <div class="datepickers">     
                    <div class="block">
                        <el-date-picker
                        v-model="startDate"
                        type="date"
                        placeholder="From" 
                        >
                        </el-date-picker>
                    </div>

                    <div class="block">
                        <el-date-picker
                        v-model="endDate"
                        type="date"
                        placeholder="To" 
                        @change="setDate($event)">
                        </el-date-picker>
                    </div>
                </div><!--datepickers-->

                <el-checkbox-group class="dayslist" v-model="days">
                    <el-checkbox label="Mon"></el-checkbox>
                    <el-checkbox label="Tue"></el-checkbox>
                    <el-checkbox label="Wed"></el-checkbox>
                    <el-checkbox label="Thu"></el-checkbox>
                    <el-checkbox label="Fri"></el-checkbox>
                    <el-checkbox label="Sat"></el-checkbox>
                    <el-checkbox label="Sun"></el-checkbox>
                </el-checkbox-group>

                <el-button class="btnSave" type="primary" @click="markDate()">Save</el-button>
            </div><!--sidebar-->

            <div class="main">
                <h3 class="monthName">{{month}} {{year}}</h3>

                <div id="date-tbl">
                </div>
            </div><!--main-->
        </div>
    </div>

</template>


<script>
    import Vue from 'vue';
    import VueToast from 'vue-toast-notification';

    import axios from 'axios';

    export default{
        data: function() {
            return {
                event: '',
                startDate: '',
                endDate: '',
                days: [],
                monthNames: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
                month: '',
                year: ''
            }
        },

        methods: {
            setDate(event) {

                if(this.startDate > this.endDate){
                    Vue.$toast.open({
                        message: 'Invalid Start Date!',
                        type: 'error',
                        duration: 5000,
                        position: 'top-right' 
                    });

                    return false;
                }

                let from = new Date(this.startDate);
                let to = new Date(event);
                this.month = this.monthNames[from.getMonth()];
                this.year = to.getFullYear();
                
                let diffTime = Math.abs(to - from);
                let diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24)); 

                let tbl = document.querySelector("#date-tbl");

                let days = ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'];

                let temp = from.getMonth();

                document.querySelector("#date-tbl").innerHTML = '';

                for(let d = 0; d < diffDays; d++){
                    let d = from; 
                    let child = document.createElement("DIV");
                    
                    if(temp != d.getMonth()){
                        let hdr = document.createElement("H3");
                        hdr.className = "monthName";
                        hdr.innerHTML =  this.monthNames[d.getMonth()] +" "+ d.getFullYear();
                        tbl.appendChild(hdr);
                    }

                    child.className = "daterow "+days[d.getDay()].toLowerCase();
                    child.innerHTML = "<p>"+d.getDate() + ' ' + days[d.getDay()] + "</p><p data-month='"+ (d.getMonth()+1) +"' data-day='"+ d.getDate() +"' class='ename'></p>";
                    tbl.appendChild(child);

                    temp = d.getMonth();

                    d.setDate(d.getDate() + 1);
                    
                }
            },

            markDate() {

                if(this.event == "" || this.startDate == "" || this.endDate == "" || this.days.length == 0){

                    Vue.$toast.open({
                        message: 'Please Complete the Form!',
                        type: 'error',
                        duration: 5000,
                        position: 'top-right' 
                    });

                    return false;
                }else if(this.startDate > this.endDate){
                    Vue.$toast.open({
                        message: 'Invalid Start Date!',
                        type: 'error',
                        duration: 5000,
                        position: 'top-right' 
                    });

                    return false;
                }    

                let that = this;
                let eventList = [];
                let to = new Date(this.endDate);
                let daterow = document.querySelectorAll(".daterow");
                   
                daterow.forEach(function(value){
                  if(value.classList.contains("active")){
                      value.classList.remove("active");
                      value.childNodes[1].innerHTML = '';
                  }
                });   

                this.days.forEach(function (value) {
                    let dayClass = value.toLowerCase();
                    let el = document.querySelectorAll("."+dayClass+" .ename");
                    
                    el.forEach(function(value){
                        value.innerHTML = that.event;
                        value.parentNode.classList.add("active");
                        eventList.push(
                            {
                            "month":value.getAttribute("data-month"), 
                            "date":value.getAttribute("data-day"),
                            "year": to.getFullYear(),
                            "event": that.event
                            }
                        );
                    });

                    eventList.sort((a, b) => (a.month > b.month) ? 1 : -1)

                });

                console.log(eventList);

                axios.post('https://events-calendar-13ef8.firebaseio.com/events.json', eventList)
                        .then(res => {
                            console.log(res);
                            Vue.$toast.open({
                                message: 'Save Event Succesfully!',
                                type: 'success',
                                duration: 5000,
                                position: 'top-right' 
                            });
                        })
                        .catch(error => console.log(error));
            }
        }
    }

</script>

<style>
.content {
    display: flex;
}

h1 {
    width: 100%;
    padding: 10px 0;
    text-indent: 15px;
    text-align: left;
    border-bottom: 1px solid #d3d3d3;
}

.sidebar {
    width: 40%;
    padding: 15px 10px;
}

.datepickers {
    display: flex;
}

.datepickers .block {
    width: 50%;
    padding: 10px 0;
}

.datepickers .block .el-input{
    width: 98%;

}

.dayslist {
    margin: 10px 0 15px 0;
}

.btnSave {
    float: left;
}

.main {
    width: 60%;
}

.main .monthName {
    text-align: left;
    padding: 10px 0;
    font-size: 28px;
    border-bottom: 1px solid #d3d3d3;
    margin-bottom: 10px;
}

.daterow {
    height: 20px;
    padding: 12px 5px;
    text-align: left;
    border-bottom: 1px solid #d3d3d3;
    display: flex;
    justify-content: space-between;
}

.daterow.active {
    background: #d3ffd3;
}

.daterow .ename {
    width: 60%;
}

</style>