<template>
    <p>TEst {{status}}</p>

</template>


<script>
    export default{
        data: function() {
            return {
                status: 'critical'
            }
        }
    }

</script>